:root {
    --main-bg-color: #F2F2F2;
    --main-text-color: #6246ea;
    --second-text-color: #2b2c34;
    --second-bg-color: #fffffe;
  }
  ::placeholder{
    color: var(--second-text-color);
    opacity: 1;
  }
  
  .primary-text {
    color: var(--main-text-color);
  }
  
  .second-text {
    color: var(--second-text-color);
  }
  
  .primary-bg {
    background-color: var(--main-bg-color);
  }
  
  .secondary-bg {
    background-color: var(--second-bg-color);
  }
  
  .rounded-full {
    border-radius: 100%;
  }
  .list-group a i{
      z-index: 2;
      transition: color 580ms ease;
  }
  .imagen-main{
      width: 29rem;
  }
  .list-group a i::after{
      content: '';
      background-color: var(--main-bg-color);
      
      display: block;
      width: 7.8rem;
      height: 2.2rem;
      position: absolute;
      left: 1.3rem;
      top: 1rem;
      z-index: -1;
      border-radius: 8px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
      transition: box-shadow 0.5s ease;
    
  }
  .list-group a i:hover::after{
    
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .list-group{
    transition: color 580ms ease;
  }
  .list-group a:hover{
    color: #6246ea;
    
  }
  
  .welcome{
    font-family: 'Lato', sans-serif;
      font-weight: 600;
      font-size: 7em;
      margin: 8rem 0 8rem 3rem ;
  }
  .laand{
    margin-bottom: 5rem;
  }
  .tabla{
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 16px;
    
  }

  #wrapper {
    overflow-x: hidden;
    /* background-image: linear-gradient(
      to right,
      #baf3d7,
      #c2f5de,
      #cbf7e4,
      #d4f8ea,
      #ddfaef
    ); */
    
  }
  #logo{
      width: 11rem;
  }

  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
    /* background-color: #FFDEE9;
background-image: linear-gradient(180deg, #FFDEE9 0%, #B5FFFC 100%); */
background-color: #ffffff;
background-image: linear-gradient(135deg, #ffffff 0%, #d7e1ec 94%);


  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
    background-color: #fffffe;
    
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  #menu-toggle {
    cursor: pointer;
  }
  
  .list-group-item {
    border: none;
    padding: 20px 30px;
  }
  
  .list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
  }
  .table_space{
      margin: 2.8rem 0 1rem 0;
  }
  .agregaProd{
      margin: 0.2rem 0 1.5rem 0.5rem;
      
      background-color: var(--second-text-color);
      color: #F2F2F2;
  }
  .regresa{
    text-decoration: none;
    background-color: var(--main-bg-color);
    color: var(--second-text-color);
    /* width: 8rem;
    height: 4rem;
    display: flex; */
  }
  .table_prod{
      position: relative;
  }
  
  .agregaProd:hover{
      color: var(--main-bg-color);
      background-color: var(--main-text-color);
  }
  .eliminari{
    /* font-size: 5rem; */
    color: #343538;
    position: relative;
    z-index: 2;
    padding-left: 0.8rem;
    transition: color 0.6s ease;
  }
  .eliminari::after{
    content: '';
    position: absolute;
    left:21%;
    z-index: -1;
    top: -22%;
    display: block;
    width: 1.8rem;
    height: 1.5rem;
    background-color: var(--main-bg-color);
    border-radius: 8px;
    
  }
  .eliminari:hover{
    color: #f44560;
    /* transition: color 1s ease; */
    cursor: pointer;

  }
  .eliminaProd{
    margin: 0.2rem 0 1.5rem 0.5rem;
    background-color: #f44560;
    color: var(--main-bg-color);
  }
  /* .in_prod input{
      margin: 0.5rem 0;
  } */
  .inputsProd{
      align-items: center;
      justify-content: space-between;
      
  }

  /* ----------------------------Agregar  Productos------------------------------ */
  .get-in-touch {
    max-width: 800px;
    margin: 50px auto;
    position: relative;
  
  }
  
  .get-in-touch .title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 3.2em;
    line-height: 48px;
    padding-bottom: 48px;
       color: var(--second-text-color);
      background: var(--main-text-color);
      
      background: linear-gradient(to right,#f4524d  0%,#5543ca  100%) !important;
      -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent !important;
  }
  
  .contact-form .form-field {
    position: relative;
    margin: 32px 0;
  }
  .contact-form .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #5543ca;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
  }
  .contact-form .input-text:focus {
    outline: none;
  }
  .contact-form .input-text:focus + .label,
  .contact-form .input-text.not-empty + .label {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
  }
  .contact-form .label {
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #5543ca;
    cursor: text;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, 
    -webkit-transform .2s ease-in-out;
  }
  .contact-form .submit-btn {
    display: inline-block;
    background-color: #000;
     background-image:var(--main-text-color);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width:200px;
    cursor: pointer;
  }
  /* ----------------------------Agregar  Productos------------------------------ */
  /* ----------------------------Scroll Top------------------------------ */
  .scroll-top {
      position: fixed;
      left: 5rem;
      bottom: 50px;
      width: 35px;
      height: 35px;
      background-color: transparent;
      align-items: center;
      justify-content: space-around;
      transition: opacity 1s ease;
      opacity: 0;
      pointer-events: none;
    }
    
    .scroll-top i {
        font-size: 40px;
        transform: rotate(180deg);
        color: var(--main-text-color);
    }
    
    .scroll-top.arriba {
        /* bottom: 60px; */
        opacity: 1;
        transition: all 1s ease;
        animation: up 4s ease infinite;
        pointer-events: all;
    }
    @keyframes up {
        0% {
          transform: translateY(-30px);
        }
      
        50% {
          transform: translateY(0px);
        }
      
        100% {
          transform: translateY(-30px);
        }
      }
    
    /* ----------------------------Scroll Top------------------------------ */
    
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }
  
/* ----------------------------------------------Loader------------------------------------------------------- */
.preload {
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
    position: fixed;
    z-index: 9;
  }
  
  .preload h1 {
    padding-top: 250px;
    font-size: 85px;
    transform: translateY(200px);
    animation: breathing 3s ease-out infinite normal;
  }
  
  .gooey {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 142px;
    height: 40px;
    margin: -20px 0 0 -71px;
    background: #fff;
    filter: contrast(10);
  }
  
  .gooey .dot {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 15px;
    filter: blur(4px);
    background: #000;
    border-radius: 50%;
    transform: translateX(0);
    animation: dot 2.8s infinite;
    
  }
  
  .gooey .dots {
    transform: translateX(0);
    margin-top: 12px;
    margin-left: 31px;
    animation: dots 2.8s infinite;
  }
  
  .gooey .dots span {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    filter: blur(4px);
    background: #000;
    border-radius: 50%;
  }
  
  @-moz-keyframes dot {
    50% {
      transform: translateX(96px);
    }
  }
  
  @-webkit-keyframes dot {
    50% {
      transform: translateX(96px);
    }
  }
  
  @-o-keyframes dot {
    50% {
      transform: translateX(96px);
    }
  }
  
  @keyframes dot {
    50% {
      transform: translateX(96px);
    }
  }
  
  @-moz-keyframes dots {
    50% {
      transform: translateX(-31px);
    }
  }
  
  @-webkit-keyframes dots {
    50% {
      transform: translateX(-31px);
    }
  }
  
  @-o-keyframes dots {
    50% {
      transform: translateX(-31px);
    }
  }
  
  @keyframes dots {
    50% {
      transform: translateX(-31px);
    }
  }
  
  @keyframes breathing {
    0% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    25% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  
    60% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    100% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  
  .preload-finished {
    opacity: 0;
    pointer-events: none;
  }
  
  /* ----------------------------------------------Loader------------------------------------------------------- */